.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
  img {
    margin-top: 30px;
    width: 240px;
  }
  h1 {
    text-align: center;
    width: 70%;
    font-size: 90px;
    font-weight: 600;
    span {
      background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  p {
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px;
  }
  .profile__action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
    .profile__connect {
      padding: 25px 45px;
      border-radius: 50px;
      background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106.28%);
      cursor: pointer;
    }
    .profile__connect:hover {
      border: 2px solid white;
    }
    .profile__resume {
      padding: 25px 75px;
      border-radius: 50px;
      border: 2px solid #fff;
      cursor: pointer;
    }
    .profile__resume:hover {
      border-color: #b415ff;
    }
  }
}
