.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10%;
    .nav__menu {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 40px;
        font-size: 16px;
    }
    .nav__connect {
        padding: 20px 40px;
        border-radius: 50px;
        background: linear-gradient(267deg, #Da7C25 0.36%, #B923E1 102.06%);
        font-size: 22px;
        cursor: pointer;
        transition: 0.05s;
    }
    .nav__connect:hover {
        transform: scale(1.05);
    }
}