.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10%;
    .logo {
        width: 200px;
    }
    .nav-mob-close {
        display: none;
    } 
    .nav-mob-open{
        display: none;
    }
    .nav__menu {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 40px;
        font-size: 16px;
        img {
            display: none;
        }
        li {
            display: flex;
            flex-direction: column;
            gap: 5px;
            a {
                text-decoration: none;
                font-family: outfit;
                color: white;

            }
            img {
                display: flex;
                margin: auto;
                width: 40px;
            }
        }
    }
    .nav__connect {
        padding: 15px 20px;
        border-radius: 50px;
        background: linear-gradient(267deg, #Da7C25 0.36%, #B923E1 102.06%);
        font-size: 16px;
        cursor: pointer;
        transition: 0.9s;
        text-decoration: none;
        color: white;
    }
    .nav__connect:hover {
        transform: scale(1.20);
    }
}
@media(max-width:768px){
    .nav {
        margin: 20px 50px;
        .nav__connect {
            display: none;
        }
        .logo {
            display: block;
            position: fixed;
            right: 30px;
        }
        .nav-mob-open {
            display: block;
            position: fixed;
            right: 30px;
        }
        .nav__menu {
            position: fixed;
            flex-direction: column;
            align-items: start;
            top: 0;
            gap: 30px;
            background-color: #1F0016;
            width: 350px;
            height: 100%;
            z-index: 2;
            transition: right 0.5s;
            right: -350px;
            .nav-mob-close {
                display: block;
                position: relative;
                top: 30px;
                left: 290px;
                width: 30px;
            }
            li {
                font-size: 30px;
                padding-left: 100px;
                flex-direction: row;
                gap: 20px;
            }
        }
    }
}
