.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10%;
    img {
        width: 200px;
    }
    .nav__menu {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 40px;
        font-size: 16px;
        li {
            display: flex;
            flex-direction: column;
            gap: 5px;
            a {
                text-decoration: none;
                font-family: outfit;
                color: white;

            }
            img {
                display: flex;
                margin: auto;
                width: 40px;
            }
        }
    }
    .nav__connect {
        padding: 15px 20px;
        border-radius: 50px;
        background: linear-gradient(267deg, #Da7C25 0.36%, #B923E1 102.06%);
        font-size: 16px;
        cursor: pointer;
        transition: 0.9s;
        text-decoration: none;
        color: white;
    }
    .nav__connect:hover {
        transform: scale(1.20);
    }
}